<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>oes.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addQuestion</servlet-name>
        <servlet-class>oes.addQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancleExam</servlet-name>
        <servlet-class>oes.cancleExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentRegistration</servlet-name>
        <servlet-class>oes.studentRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>examinerRegistration</servlet-name>
        <servlet-class>oes.examinerRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAccount</servlet-name>
        <servlet-class>oes.updateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteQuestion</servlet-name>
        <servlet-class>oes.deleteQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>scheduleExam</servlet-name>
        <servlet-class>oes.scheduleExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancel_exam_stu</servlet-name>
        <servlet-class>oes.cancel_exam_stu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addExam_stu</servlet-name>
        <servlet-class>oes.addExam_stu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotPassword</servlet-name>
        <servlet-class>oes.forgotPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addQuestion</servlet-name>
        <url-pattern>/addQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancleExam</servlet-name>
        <url-pattern>/cancleExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentRegistration</servlet-name>
        <url-pattern>/studentRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>examinerRegistration</servlet-name>
        <url-pattern>/examinerRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAccount</servlet-name>
        <url-pattern>/updateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteQuestion</servlet-name>
        <url-pattern>/deleteQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scheduleExam</servlet-name>
        <url-pattern>/scheduleExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancel_exam_stu</servlet-name>
        <url-pattern>/cancel_exam_stu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addExam_stu</servlet-name>
        <url-pattern>/addExam_stu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotPassword</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
</web-app>
